@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap");
@import "./scss/utils/mixins.scss";
@import "./scss/keyboard.scss";
@import "./scss/screen.scss";
@import "./scss/speakers.scss";

body {
  background: linear-gradient(90deg, #d8a933 0%, #858536 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.wire1 {
  position: relative;
  left: 200px;
  z-index: -2;
  align-self: center;
  background-color: rgb(180, 178, 178);
  width: 8px;
  background: linear-gradient(90deg, rgb(236, 233, 233) 0%, rgb(175, 171, 171)100%);
  height: 70px;
}  

