@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap");
@import "./scss/utils/mixins.scss";
@import "./scss/keyboard.scss";
@import "./scss/screen.scss";

body {
  background: linear-gradient(90deg, #d8a933 0%, #858536 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: #555;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 1rem;
}
